<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세페이지</title>
</head>
<style>
  table, td {
    width: 70%;
    border : 1px solid black;
    margin: auto;
    /*border-collapse: collapse;*/
    text-align: center;
  }

  .header {
    font-weight: bold;
    width: 25%;
  }
</style>
<body>
    <table>
        <tr style="height: 40px">
            <td class="header">제목</td>
            <td th:text="${board.title}"></td>
        </tr>
        <tr style="height: 200px">
            <td class="header">내용</td>
            <td th:text="${board.content}"></td>
        </tr>
        <tr style="height: 40px">
            <td class="header">업로드 파일</td>
            <td>
                <img th:src="@{${board.filepath}}" />
            </td>
        </tr>
    </table>

    <hr style="width: 70%">

    <table>
        <tr>
            <td style="width: 20%"><a th:href="@{/board/list}">글목록</a></td>
            <td style="width: 20%"><a th:href="@{/board/delete(id=${board.id})}">글삭제</a></td>
            <td style="width: 20%"><a th:href="@{/board/modify/{id}(id=${board.id})}">글수정</a></td>
            <td style="width: 20%"><a th:href="@{/board/write}">글쓰기</a></td>
        </tr>
    </table>

</body>
</html>